.mainBlock {

    background-color: #ffdf76;
    padding-top: 50px;
    padding-bottom: 50px;
}
.worksContainer {
    display: flex;
    flex-direction: column;
}
.title {
    background: #7c7c7c;
}

.button {
    background: #7c7c7c;
    padding: 10px;
    border: none;
    font-weight: 800;
}